body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Header
{
   background-color: #F5F5F5;
   background-image: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Home_Button
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Home_Button:hover
{
   color: #0F65EF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#Search_Bar
{
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Emoticons
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Side_Bar 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Side_Bar div
{
   text-align: left;
}
#wb_News_Button 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_News_Button div
{
   text-align: left;
}
#wb_Videos_Button 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Videos_Button div
{
   text-align: left;
}
#wb_Lists_Button 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Lists_Button div
{
   text-align: left;
}
#More_Button
{
   background-color: transparent;
   border: 0px solid #CCCCCC;
}
.More_ButtonSubMenu
{
   background-color: transparent;
   border: 1px solid #CCCCCC;
   position:	absolute;
   visibility: hidden;
   overflow: visible;
   z-index: 100;
}
.More_ButtonSubMenuTable
{
   cursor: default;
   border: 0;
   padding: 0;
}
.More_ButtonSubMenuTable tr
{
   margin: 0;
   padding: 0;
}
.More_ButtonMenu
{
   background-color: transparent;
   margin: 0px 0 0px 0px;
   padding: 0;
}
.More_ButtonMenuOuter
{
   background-color: transparent;
   border: 0px solid #CCCCCC;
}
.More_ButtonMenu tr
{
   margin: 0;
   padding: 0;
}
.More_ButtonMainItem .More_ButtonMainItemLeft,
.More_ButtonMainItem .More_ButtonMainFolderLeft
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   text-align: center;
   padding: 3px 0px 3px 0px;
   font-size: 1px;
}
.More_ButtonMainItem .More_ButtonMainItemText, 
.More_ButtonMainItem .More_ButtonMainItemText a,
.More_ButtonMainItem .More_ButtonMainFolderText,
.More_ButtonMainItem .More_ButtonMainFolderText a
{
   background-color: transparent;
   color: #0F65EF;
   font-size: 16px;
   font-family: "Proxima Nova Rg";
   font-weight: normal;
   line-height: 16px;
   text-align: left;
   text-decoration: none;
   white-space: nowrap;
   margin: 0;
   cursor: pointer;
   border-bottom: 0px solid #CCCCCC;
   border-right: 0px solid #CCCCCC;
   border-top: 0px solid #CCCCCC;
   border-left: 0px solid #CCCCCC;
   padding: 3px 5px 3px 5px;
   vertical-align: middle;
}
.More_ButtonMainItem .More_ButtonMainItemRight,
.More_ButtonMainItem .More_ButtonMainFolderRight
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   padding: 3px 0px 3px 0px;
   font-size: 1px;
}
.More_ButtonMainItemHover .More_ButtonMainItemLeft,
.More_ButtonMainItemActive .More_ButtonMainItemLeft,
.More_ButtonMainItemHover .More_ButtonMainFolderLeft,
.More_ButtonMainItemActive .More_ButtonMainFolderLeft
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   padding: 3px 0px 3px 0px;
   font-size: 1px;
}
.More_ButtonMainItemHover .More_ButtonMainItemText,
.More_ButtonMainItemActive .More_ButtonMainItemText,
.More_ButtonMainItemHover .More_ButtonMainItemText a,
.More_ButtonMainItemActive .More_ButtonMainItemText a,
.More_ButtonMainItemHover .More_ButtonMainFolderText,
.More_ButtonMainItemActive .More_ButtonMainFolderText,
.More_ButtonMainItemHover .More_ButtonMainFolderText a,
.More_ButtonMainItemActive .More_ButtonMainFolderText a
{
   background-color: transparent;
   color: #FF0000;
   font-size: 16px;
   font-family: "Proxima Nova Rg";
   font-weight: normal;
   line-height: 16px;
   text-align: left;
   text-decoration: none;
   white-space: nowrap;
   margin: 0;
   cursor: pointer;
   border-bottom: 0px solid #CCCCCC;
   border-right: 0px solid #CCCCCC;
   border-top: 0px solid #CCCCCC;
   border-left: 0px solid #CCCCCC;
   padding: 3px 5px 3px 5px;
   vertical-align: middle;
}
.More_ButtonMainItemHover .More_ButtonMainItemRight,
.More_ButtonMainItemActive .More_ButtonMainItemRight,
.More_ButtonMainItemHover .More_ButtonMainFolderRight,
.More_ButtonMainItemActive .More_ButtonMainFolderRight
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   padding: 3px 0px 3px 0px;
   font-size: 1px;
}
.More_ButtonMenuItem .More_ButtonMenuItemLeft,
.More_ButtonMenuItem .More_ButtonMenuFolderLeft
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   text-align: center;
   padding: 3px 0px 3px 0px;
   font-size: 1px;
}
.More_ButtonMenuItem .More_ButtonMenuItemText, 
.More_ButtonMenuItem .More_ButtonMenuItemText a,
.More_ButtonMenuItem .More_ButtonMenuFolderText,
.More_ButtonMenuItem .More_ButtonMenuFolderText a
{
   background-color: transparent;
   color: #0F65EF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   line-height: 16px;
   text-align: left;
   text-decoration: none;
   white-space: nowrap;
   margin: 0;
   cursor: pointer;
   border-bottom: 0px solid #CCCCCC;
   border-top: 0px solid #CCCCCC;
   border-right: 0px solid #CCCCCC;
   border-left: 0px solid #CCCCCC;
   padding: 3px 5px 3px 5px;
   vertical-align: middle;
}
.More_ButtonMenuItem .More_ButtonMenuItemRight,
.More_ButtonMenuItem .More_ButtonMenuFolderRight
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   padding: 3px 0px 3px 0px;
   font-size: 1px;
}
.More_ButtonMenuItemHover .More_ButtonMenuItemLeft, 
.More_ButtonMenuItemActive .More_ButtonMenuItemLeft,
.More_ButtonMenuItemHover .More_ButtonMenuFolderLeft,
.More_ButtonMenuItemActive .More_ButtonMenuFolderLeft
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   padding: 3px 0px 3px 0px;
   font-size: 1px;
}
.More_ButtonMenuItemHover .More_ButtonMenuItemText,
.More_ButtonMenuItemActive .More_ButtonMenuItemText,
.More_ButtonMenuItemHover .More_ButtonMenuItemText a,
.More_ButtonMenuItemActive .More_ButtonMenuItemText a,
.More_ButtonMenuItemHover .More_ButtonMenuFolderText,
.More_ButtonMenuItemActive .More_ButtonMenuFolderText,
.More_ButtonMenuItemHover .More_ButtonMenuFolderText a,
.More_ButtonMenuItemActive .More_ButtonMenuFolderText a
{
   background-color: transparent;
   color: #0F65EF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   line-height: 16px;
   text-align: left;
   text-decoration: none;
   white-space: nowrap;
   margin: 0;
   cursor: pointer;
   border-bottom: 0px solid #CCCCCC;
   border-top: 0px solid #CCCCCC;
   border-right: 0px solid #CCCCCC;
   border-left: 0px solid #CCCCCC;
   padding: 3px 5px 3px 5px;
   vertical-align: middle;
}
.More_ButtonMenuItemHover .More_ButtonMenuItemRight,
.More_ButtonMenuItemActive .More_ButtonMenuItemRight,
.More_ButtonMenuItemHover .More_ButtonMenuFolderRight,
.More_ButtonMenuItemActive .More_ButtonMenuFolderRight
{
   width: 0px;
   cursor: pointer;
   border-width: 0;
   padding: 3px 0px 3px 0px;
   font-size: 1px;
}
.More_ButtonSubMenu td,
.More_ButtonMenu td,
.More_ButtonMenu tr
{
   vertical-align: middle;
}
.More_ButtonMenuSplitText div
{
   height: 1px;
   padding: 0;
   background-color: #333333;
   overflow: hidden;
}
.More_ButtonMenuItem .More_ButtonMenuSplitLeft
{
   height: 7px;
   padding: 0px 0px 0px 0px;
}
.More_ButtonMenuItem .More_ButtonMenuSplitText
{
   background-color: transparent;
   height: 7px;
   padding: 0px 6px 0px 6px;
}
.More_ButtonMenuItem .More_ButtonMenuSplitRight
{
   height: 7px;
   padding: 0px 0px 0px 0px;
}
.More_ButtonMainSplitText div
{
   background-color: #333333;
   height: 1px;
   padding: 0;
   overflow: hidden;
}
.More_ButtonMainItem .More_ButtonMainSplitLeft 
{
   height: 7px;
   padding: 0px 0px 0px 0px;
}
.More_ButtonMainItem .More_ButtonMainSplitText
{
   background-color: transparent;
   height: 7px;
   padding: 0px 0px 0px 0px;
}
.More_ButtonMainItem .More_ButtonMainSplitRight
{
   height: 7px;
   padding: 0px 0px 0px 0px;
}
.More_ButtonMainItem
{
   vertical-align: middle;
}
.More_ButtonHorizontalSplit
{
   border-right: 0 solid #8080FF;
   border-left: 0 solid #8080FF;
   width: 15px;
   background-color: transparent;
   padding: 3px 0px 3px 0px;
   vertical-align: middle;
   text-align: center;
   text-decoration: none;
   color: #333333;
   font-size: 16px;
   font-family: "Proxima Nova Rg";
   font-style: normal;
}
.More_ButtonMainItem, .More_ButtonMainItemHover, .More_ButtonMainItemActive,
.More_ButtonMenuItem, .More_ButtonMenuItemHover, .More_ButtonMenuItemActive
{
   white-space: nowrap;
}
.More_ButtonSpacerDiv
{
   background: transparent;
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 1px;
}
