@font-face
{
   font-family: "Proxima Nova Rg";
   src: url('proxima-nova-5978785e4e1ee.eot');
   src: url('proxima-nova-5978785e4e1ee.eot?#iefix') format('embedded-opentype'),
        url('proxima-nova-5978785e4e1ee.svg#ProximaNova-Regular') format('svg'),
        url('proxima-nova-5978785e4e1ee.woff') format('woff');
}
@font-face
{
   font-family: "Proxima Nova Th";
   src: url('proxima-nova-extrabold-5978792f155b1.eot');
   src: url('proxima-nova-extrabold-5978792f155b1.eot?#iefix') format('embedded-opentype'),
        url('proxima-nova-extrabold-5978792f155b1.svg#ProximaNova-Extrabld') format('svg'),
        url('proxima-nova-extrabold-5978792f155b1.woff') format('woff');
}
a
{
   color: #0000FF;
   text-decoration: none;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: none;
}
a.Title_Link
{
   color: #0F65EF;
   text-decoration: none;
}
a.Title_Link:visited
{
   color: #0F65EF;
   text-decoration: none;
}
a.Title_Link:active
{
   color: #0F65EF;
   text-decoration: none;
}
a.Title_Link:hover
{
   color: #0000FF;
   font-weight: bold;
   text-decoration: none;
}
h1
{
   font-family: "Proxima Nova Rg";
   font-weight: bold;
   font-size: 32px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.Home_Page
{
   font-family: "Proxima Nova Th";
   font-weight: normal;
   font-size: 37px;
   font-style: normal;
   text-decoration: none;
   color: #FF0000;
   background-color: transparent;
}
.Small Heading
{
   font-family: "Proxima Nova Rg";
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   color: #0000FF;
   background-color: transparent;
}
